@import url("../../styles/styles.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.checkout-title{
    text-align: center;
}

.container-checkout{
    display: flex;
    justify-content:space-around;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.container-checkout-list{
    flex: 0 1 50%;
}

.container-checkout-list h2{
    text-align: center;
}

.list-detail{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}