@import url("../../styles/styles.css");

.container-cart{
    display: flex;
    background-color:  var(--clr-white);
    align-items: center;
    border-radius: .7rem;
    width: 65px;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.cart-logo{
    max-width:40px;
}