@import url("../../styles/styles.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.cart-actions{
    display: flex;
    justify-content:space-between;
}

.btn-clear{
    background-color: var(--clr-gray);
    padding: .6rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: .75rem;
    border-color: var(--clr-gray);
    border-style: solid;
    text-transform: uppercase;
    color: var(--clr-main-dark);
    font-weight: 600;
    cursor: pointer;
}

.cart-actions-right{
    display: flex;
}

.cart-actions-right-total{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-gray);
    padding: .6rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-top-left-radius: .75rem;
    border-bottom-left-radius: .75rem;
    text-transform: uppercase;
    color: var(--clr-main-dark);
    font-weight: 600;
}

.btn-buy{
    background-color: var(--clr-main-dark);
    padding: .6rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    border-color: var(--clr-main-dark);
    border-style: solid;
    text-transform: uppercase;
    color: var(--clr-gray);
    font-weight: 600;
    cursor: pointer;
}